<div id="daily_special">
    <img class="ds_elem" src="{{ image.url }}" alt="{{ name }}">
    <h1 class="ds_elem">{{ name }}</h1>
    <p class="ds_elem">{{ description }}</p>
    <a class="ds_elem" href="{{ url }}">More...</a>
</div>