{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="daily_specials">
        {% placeholder "daily_specials" %}
    </div>
    <div class="menu_items">
        {% placeholder "menus" %}
    </div>
{% endblock content %}
